.detail {
  @apply px-2 pt-40 pb-2 relative;
}

.img {
  @apply rounded-full border-4 border-blue-400 absolute w-32 h-32 my-4 bg-contain bg-center inset-x-0 top-0 mx-auto;
  will-change: opacity;
}

.detail .catch {
  @apply block text-center;
}

.detail .catch button {
  @apply rounded px-6 py-1 mx-auto my-2 bg-blue-600 text-white;
}

.detail .catch button:hover {
  @apply bg-blue-400;
}

.detail .title {
  @apply w-1/3 mr-2;
}

.detail .rounded-section {
  @apply rounded border-2 border-gray-500 my-4 p-4 relative;
}

.detail .rounded-section > .title {
  @apply px-2 absolute bg-white top-0 w-auto m-0;
  left: 5%;
  transform: translateY(-50%);
}

.dialog-content {
  min-width: 75vw;
  min-height: 50vh;
  @apply flex items-center justify-center;
}

@screen md {
  .dialog-content {
    min-width: 40vw;
  }
}

@screen xl {
  .dialog-content {
    min-width: 20vw;
    min-height: 30vh;
  }
}
